
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>practica4</title>
    <script type="text/javascript" src="~/Js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Css/bootstrap.min.css" />
</head>
<body>
    <div class="text-center"><h1>Ciclos For y While</h1></div>
    <script type="text/javascript">
       /* for (var i = 0; i < 10; i++)
        {
            alert(i);
            alert("Entre");
        }*/
        //var i = 110;

        /*while (i < 10)
        {
            alert(i);
            i++;
        }*/

        /*do {
            alert(i);
        } while (i < 10);
        */
        var arreglo = [1, 2, 3, 4];
        for (i in arreglo)
        {
            alert(arreglo[i]);
        }
    </script>
</body>
</html>