
@{
    ViewBag.Title = "practica2";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Jquiery2</title>
    <script type="text/javascript" src="~/Js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Css/bootstrap.min.css" />
</head>
<body>
    <div class="co-md-offset-5"> <h3>Practica jquery 2</h3> </div>
    <script type="text/javascript">
        //var edad = 18;

        var aux = false;
        var asignada = aux ? 'Hola' : 'Adios';


        alert(asignada);

        /*if (edad > 18)
        {
            alert("Eres mayor de 18 años");
        }
        else if (edad < 18) {
            alert("Eres menor de 18");
        }
        else {
            alert("Tienes 18 años");
        }*/
        var a = 1;
        switch (a)
        {
            case 0:
                alert('a = 0');
                break;
            case 1:
                alert('a = 1');
                break;
            default:
                alert('a = ?');
                break;

        }

    </script>
</body>
</html>
